*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo{
  cursor: pointer;
  float: right;
  margin: 10px;
}

.logo img{
  height: 65px;
  width: auto;
  transition: all 0.3s;
}

.logo img:hover{
  transform: scale(1.2);
}

nav a{
  cursor: pointer;
  float: left;
  margin-top: 10px;
}

nav img{
  height: 50px;
  width: auto;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-left: 30px;
  cursor: pointer;
  display: none;
}

nav{
  background-color: #001F3F;
  height: 85px;
  width: 100%;
}

nav ul{
  float: left;
  margin-left: 30px;
}

nav ul li{
  display: inline-block;
  line-height: 8opx;
  margin: 0 10px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-decoration: none;
}

nav ul li:hover{
  transform: scale(1.1);
}

nav ul li a:hover{
  color: yellow;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
  }

  .content{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  form {
    background-color: #fff;
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  .content a{
    text-align: center;
    padding-top: 20px;
  }

  /* Oculta todos los ul dentro del formulario que no tienen una clase */
  form > ul:not([class]) {
    display: none;
  }

  .errorlist{
    margin: 5px;
    color: red;
  }

  .helptext{
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }

  form select{
    width: 100%;
    height: 30px;
  }

  form textarea{
    width: 100%;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* Aplica espaciado entre los p치rrafos del formulario */
form p {
    margin-bottom: 15px;
}

/* Aplica un espaciado adicional antes del bot칩n */
form button {
    margin-top: 15px;
}
  
  /* Estilos para el formulario en pantallas m치s peque침as */
  @media (max-width: 600px) {
    form {
      width: 80%;
    }
  }
  