{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Registrate</title>
</head>
<body>

<!-- Barra de tareas -->
<div class="header">
  <nav class="navbar">
      <ul class="nav-links">
          <li><a href="/home">
            <img src="{% static 'volver.png' %}" alt="Logo">
          </a></li>
      </ul>
      <div class="logo">
          <img src="{% static 'riesgo.png' %}" alt="Logo">
      </div>
  </nav>
</div>

<div class="content">

  <h1>Registrate</h1>
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
    
    {% if form.password.errors %}
      <ul class="errorlist">
        {% for error in form.password.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </form>
{% endblock %}

</div>

</body>
</html>