{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Datos Prevencion de Riesgos</title>
    <script src="https://kit.fontawesome.com/827f93132a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<!-- Barra de tareas -->
<div class="header">
    <nav class="navbar">
        <input type="checkbox" id="check" onclick="desactivarOtros(this)">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-links">
            <li><a href="/home">Inicio</a></li>
            <li><a href="/grafico">Graficos</a></li>
            <li><a href="{% url 'datosform' %}">Accidentes registrados</a></li>
            <li><a href="/registrar_accidente">Registrar accidente</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
        </ul>
        <div class="logo">
            <img src="{% static 'riesgo.png' %}" alt="Logo">
        </div>
    </nav>
<!--<a href="#" class="btn"><button>ChatGPT</button></a>-->
</div>

<!-- Contenido -->
<div class="content">

    <ul class="accordion">
        <li>
            <input type="checkbox" class="accordion" id="1" onclick="cambiarGrafico('mut1'); desactivarOtros(this)" >
            <label for="1">Datos de Mutualidades segun años</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('mut1')">2018</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('mut2')">2019</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('mut3')">2020</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('mut4')">2021</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_mut1" class="plot-container">{{ plotly_div1|safe }}</div>
                <div id="plotly_div_mut2" class="plot-container">{{ plotly_div2|safe }}</div>
                <div id="plotly_div_mut3" class="plot-container">{{ plotly_div3|safe }}</div>
                <div id="plotly_div_mut4" class="plot-container">{{ plotly_div4|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="2" onclick="cambiarGrafico('tea1'); desactivarOtros(this)">
            <label for="2">Tasa de accidentes</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('tea1')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('tea2')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('tea3')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_tea1" class="plot-container">{{ plotly_div8|safe }}</div>
                <div id="plotly_div_tea2" class="plot-container">{{ plotly_div9|safe }}</div>
                <div id="plotly_div_tea3" class="plot-container">{{ plotly_div10|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="3" onclick="cambiarGrafico('sexo1'); desactivarOtros(this)">
            <label for="3">Accidentes por Genero</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('sexo1')">Hombre</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('sexo2')">Mujer</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_sexo1" class="plot-container">{{ plotly_div11|safe }}</div>
                <div id="plotly_div_sexo2" class="plot-container">{{ plotly_div12|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="4" onclick="cambiarGrafico('eco1_2021'); desactivarOtros(this)">
            <label for="4">Datos Actividad Economica segun Mutualidad (2021)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('eco1_2021')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco2_2021')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco3_2021')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_eco1_2021" class="plot-container">{{ plotly_div17|safe }}</div>
                <div id="plotly_div_eco2_2021" class="plot-container">{{ plotly_div25|safe }}</div>
                <div id="plotly_div_eco3_2021" class="plot-container">{{ plotly_div33|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="5" onclick="cambiarGrafico('eco1_2020'); desactivarOtros(this)">
            <label for="5">Datos Actividad Economica segun Mutualidad (2020)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('eco1_2020')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco2_2020')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco3_2020')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_eco1_2020" class="plot-container">{{ plotly_div18|safe }}</div>
                <div id="plotly_div_eco2_2020" class="plot-container">{{ plotly_div26|safe }}</div>
                <div id="plotly_div_eco3_2020" class="plot-container">{{ plotly_div34|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="6" onclick="cambiarGrafico('eco1_2019'); desactivarOtros(this)">
            <label for="6">Datos Actividad Economica segun Mutualidad (2019)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('eco1_2019')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco2_2019')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco3_2019')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_eco1_2019" class="plot-container">{{ plotly_div19|safe }}</div>
                <div id="plotly_div_eco2_2019" class="plot-container">{{ plotly_div27|safe }}</div>
                <div id="plotly_div_eco3_2019" class="plot-container">{{ plotly_div35|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="7" onclick="cambiarGrafico('eco1_2018'); desactivarOtros(this)">
            <label for="7">Datos Actividad Economica segun Mutualidad (2018)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('eco1_2018')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco2_2018')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco3_2018')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_eco1_2018" class="plot-container">{{ plotly_div20|safe }}</div>
                <div id="plotly_div_eco2_2018" class="plot-container">{{ plotly_div28|safe }}</div>
                <div id="plotly_div_eco3_2018" class="plot-container">{{ plotly_div36|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="8" onclick="cambiarGrafico('eco1_2017'); desactivarOtros(this)">
            <label for="8">Datos Actividad Economica segun Mutualidad (2017)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('eco1_2017')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco2_2017')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco3_2017')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_eco1_2017" class="plot-container">{{ plotly_div21|safe }}</div>
                <div id="plotly_div_eco2_2017" class="plot-container">{{ plotly_div29|safe }}</div>
                <div id="plotly_div_eco3_2017" class="plot-container">{{ plotly_div37|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="9" onclick="cambiarGrafico('eco1_2016'); desactivarOtros(this)">
            <label for="9">Datos Actividad Economica segun Mutualidad (2016)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('eco1_2016')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco2_2016')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco3_2016')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_eco1_2016" class="plot-container">{{ plotly_div22|safe }}</div>
                <div id="plotly_div_eco2_2016" class="plot-container">{{ plotly_div30|safe }}</div>
                <div id="plotly_div_eco3_2016" class="plot-container">{{ plotly_div38|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="10" onclick="cambiarGrafico('eco1_2015'); desactivarOtros(this)">
            <label for="10">Datos Actividad Economica segun Mutualidad (2015)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('eco1_2015')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco2_2015')">Cchc</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('eco3_2015')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_eco1_2015" class="plot-container">{{ plotly_div23|safe }}</div>
                <div id="plotly_div_eco2_2015" class="plot-container">{{ plotly_div31|safe }}</div>
                <div id="plotly_div_eco3_2015" class="plot-container">{{ plotly_div39|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="11" onclick="cambiarGrafico('deadxact1_2021'); desactivarOtros(this)" >
            <label for="11">Fallecidos por actividad economica (2021)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact1_2021')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact2_2021')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact3_2021')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_deadxact1_2021" class="plot-container">{{ plotly_div41|safe }}</div>
                <div id="plotly_div_deadxact2_2021" class="plot-container">{{ plotly_div49|safe }}</div>
                <div id="plotly_div_deadxact3_2021" class="plot-container">{{ plotly_div57|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="12" onclick="cambiarGrafico('deadxact1_2020'); desactivarOtros(this)" >
            <label for="12">Fallecidos por actividad economica (2020)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact1_2020')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact2_2020')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact3_2020')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_deadxact1_2020" class="plot-container">{{ plotly_div42|safe }}</div>
                <div id="plotly_div_deadxact2_2020" class="plot-container">{{ plotly_div50|safe }}</div>
                <div id="plotly_div_deadxact3_2020" class="plot-container">{{ plotly_div58|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="13" onclick="cambiarGrafico('deadxact1_2019'); desactivarOtros(this)" >
            <label for="13">Fallecidos por actividad economica (2019)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact1_2019')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact2_2019')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact3_2019')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_deadxact1_2019" class="plot-container">{{ plotly_div43|safe }}</div>
                <div id="plotly_div_deadxact2_2019" class="plot-container">{{ plotly_div51|safe }}</div>
                <div id="plotly_div_deadxact3_2019" class="plot-container">{{ plotly_div59|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="14" onclick="cambiarGrafico('deadxact1_2018'); desactivarOtros(this)" >
            <label for="14">Fallecidos por actividad economica (2018)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact1_2018')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact2_2018')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact3_2018')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_deadxact1_2018" class="plot-container">{{ plotly_div44|safe }}</div>
                <div id="plotly_div_deadxact2_2018" class="plot-container">{{ plotly_div52|safe }}</div>
                <div id="plotly_div_deadxact3_2018" class="plot-container">{{ plotly_div60|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="14" onclick="cambiarGrafico('deadxact1_2017'); desactivarOtros(this)" >
            <label for="14">Fallecidos por actividad economica (2017)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact1_2017')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact2_2017')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact3_2017')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_deadxact1_2017" class="plot-container">{{ plotly_div45|safe }}</div>
                <div id="plotly_div_deadxact2_2017" class="plot-container">{{ plotly_div53|safe }}</div>
                <div id="plotly_div_deadxact3_2017" class="plot-container">{{ plotly_div61|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="15" onclick="cambiarGrafico('deadxact1_2016'); desactivarOtros(this)" >
            <label for="15">Fallecidos por actividad economica (2016)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact1_2016')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact2_2016')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact3_2016')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_deadxact1_2016" class="plot-container">{{ plotly_div46|safe }}</div>
                <div id="plotly_div_deadxact2_2016" class="plot-container">{{ plotly_div54|safe }}</div>
                <div id="plotly_div_deadxact3_2016" class="plot-container">{{ plotly_div62|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="16" onclick="cambiarGrafico('deadxact1_2015'); desactivarOtros(this)" >
            <label for="16">Fallecidos por actividad economica (2015)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact1_2015')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact2_2015')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact3_2015')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_deadxact1_2015" class="plot-container">{{ plotly_div47|safe }}</div>
                <div id="plotly_div_deadxact2_2015" class="plot-container">{{ plotly_div55|safe }}</div>
                <div id="plotly_div_deadxact3_2015" class="plot-container">{{ plotly_div63|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="17" onclick="cambiarGrafico('deadxact1_2014'); desactivarOtros(this)" >
            <label for="17">Fallecidos por actividad economica (2014)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact1_2014')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact2_2014')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('deadxact3_2014')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_deadxact1_2014" class="plot-container">{{ plotly_div48|safe }}</div>
                <div id="plotly_div_deadxact2_2014" class="plot-container">{{ plotly_div56|safe }}</div>
                <div id="plotly_div_deadxact3_2014" class="plot-container">{{ plotly_div64|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="18" onclick="cambiarGrafico('actxreg1_2021'); desactivarOtros(this)" >
            <label for="18">Accidente por Regiones segun tipo de accidente (2021)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg1_2021')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg2_2021')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg3_2021')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_actxreg1_2021" class="plot-container">{{ plotly_div65|safe }}</div>
                <div id="plotly_div_actxreg2_2021" class="plot-container">{{ plotly_div73|safe }}</div>
                <div id="plotly_div_actxreg3_2021" class="plot-container">{{ plotly_div81|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="19" onclick="cambiarGrafico('actxreg1_2020'); desactivarOtros(this)" >
            <label for="19">Accidente por Regiones segun tipo de accidente (2020)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg1_2020')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg2_2020')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg3_2020')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_actxreg1_2020" class="plot-container">{{ plotly_div66|safe }}</div>
                <div id="plotly_div_actxreg2_2020" class="plot-container">{{ plotly_div74|safe }}</div>
                <div id="plotly_div_actxreg3_2020" class="plot-container">{{ plotly_div82|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="20" onclick="cambiarGrafico('actxreg1_2019'); desactivarOtros(this)" >
            <label for="20">Accidente por Regiones segun tipo de accidente (2019)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg1_2019')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg2_2019')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg3_2019')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_actxreg1_2019" class="plot-container">{{ plotly_div67|safe }}</div>
                <div id="plotly_div_actxreg2_2019" class="plot-container">{{ plotly_div75|safe }}</div>
                <div id="plotly_div_actxreg3_2019" class="plot-container">{{ plotly_div83|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="21" onclick="cambiarGrafico('actxreg1_2018'); desactivarOtros(this)" >
            <label for="21">Accidente por Regiones segun tipo de accidente (2018)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg1_2018')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg2_2018')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg3_2018')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_actxreg1_2018" class="plot-container">{{ plotly_div68|safe }}</div>
                <div id="plotly_div_actxreg2_2018" class="plot-container">{{ plotly_div76|safe }}</div>
                <div id="plotly_div_actxreg3_2018" class="plot-container">{{ plotly_div84|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="22" onclick="cambiarGrafico('actxreg1_2017'); desactivarOtros(this)" >
            <label for="22">Accidente por Regiones segun tipo de accidente (2017)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg1_2017')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg2_2017')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg3_2017')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_actxreg1_2017" class="plot-container">{{ plotly_div69|safe }}</div>
                <div id="plotly_div_actxreg2_2017" class="plot-container">{{ plotly_div77|safe }}</div>
                <div id="plotly_div_actxreg3_2017" class="plot-container">{{ plotly_div85|safe }}</div>

            </div>
        </li>
        <li>
            <input type="checkbox" class="accordion" id="23" onclick="cambiarGrafico('actxreg1_2016'); desactivarOtros(this)" >
            <label for="23">Accidente por Regiones segun tipo de accidente (2016)</label>
            <div class="content">

                <!-- Botones para cambiar el gráfico -->
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg1_2016')">Achs</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg2_2016')">Museg</button>
                <button class="btn btn-primary" onclick="cambiarGrafico('actxreg3_2016')">Ist</button>

                <!-- Contenedor de gráficos -->

                <div id="plotly_div_actxreg1_2016" class="plot-container">{{ plotly_div70|safe }}</div>
                <div id="plotly_div_actxreg2_2016" class="plot-container">{{ plotly_div78|safe }}</div>
                <div id="plotly_div_actxreg3_2016" class="plot-container">{{ plotly_div86|safe }}</div>

            </div>
        </li>
    </ul>

</div>

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="">
                    <img src="{% static 'img/logoDuoc.png' %}" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2></h2>
            <p>Es mejor prepárese y prevenir en lugar de reparar y arrepentirse</p>
        </div>
        <div class="box">
            <h2>Siguenos</h2>
            <div class="social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-whatsapp"></a>
            </div>
        </div>
    </div>

    <div class="grupo-2">
        <small>&copy; 2023 Tu Empresa. Todos los derechos reservados.</small>
    </div>
</footer>

<script>
    function cambiarGrafico(grafico) {
    
        // Oculta todos los divs
        document.querySelectorAll('[id^="plotly_div"]').forEach(div => div.style.display = 'none');
    
        // Muestra el div correspondiente al gráfico seleccionado
        document.getElementById(`plotly_div_${grafico}`).style.display = 'block';
    }

    function desactivarOtros(checkbox) {
        // Obtener todos los checkboxes
        var checkboxes = document.querySelectorAll('.accordion');

        // Desactivar todos los checkboxes excepto el que se hizo clic
        checkboxes.forEach(function (element) {
            if (element !== checkbox) {
                element.checked = false;
            }
        });
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>