{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://kit.fontawesome.com/827f93132a.js" crossorigin="anonymous"></script>
    <title>Datos Prevencion de Riesgos</title>
</head>
<body>

<!-- Barra de tareas -->
<div class="header">
    <nav class="navbar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-links">
            <li><a href="#">Inicio</a></li>
            <!--<li><a href="/grafico">Graficos</a></li>-->
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'signup' %}">Registrarse</a></li>
        </ul>
        <div class="logo">
            <img src="{% static 'img/riesgo.png' %}" alt="Logo">
        </div>
    </nav>
<!--<a href="#" class="btn"><button>ChatGPT</button></a>-->
</div>

<!-- Contenido -->
<div class="content">
    <h4>Bienvenido a la pagina donde podra ver informacion proveniente de la SUSESO, en donde podra visualizar los dato en graficos interactivos.</h4>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/carrusel.jpeg' %}" class="d-block w-100 w-100 h-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/carrusel4.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/carrusel3.jpg' %}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <p>Explora nuestras herramientas especializadas y recursos diseñados para potenciar tus habilidades como prevencionista de riesgos.
        Los datos mas accesibles te permitirar analizar mas detalladamente las situaciones y te permitirar tomar decisiones basandote en
        datos reales
    </p>
    <p>Y recuerda: La seguridad es primero!!!</p>



</div>

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="">
                    <img src="{% static 'img/logoDuoc.png' %}" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2></h2>
            <p>Es mejor prepárese y prevenir en lugar de reparar y arrepentirse</p>
        </div>
        <div class="box">
            <h2>Siguenos</h2>
            <div class="social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-whatsapp"></a>
            </div>
        </div>
    </div>

    <div class="grupo-2">
        <small>&copy; 2023 Tu Empresa. Todos los derechos reservados.</small>
    </div>
</footer>

</body>
</html>