{%extends 'myForum/base.html'%}
{% load hitcount_tags %}

{%block content%}

    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <span><a href="#">My forum - Forums</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a></a> >> <a href="{{post.get_url}}">{{post.title}}</a></span></span>
        </div>

        <div class="topic-container">
            <div class="head">
                <div class="authors">Autor</div>
                <div class="content">Topico: {{post.title}}(Leido {%get_hit_count for post%} vez) </div>
            </div>
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="#">{{post.user.fullname| title}}</a></div>
                    <div>Role</div>
                    <img src="{{post.user.profilePic.url}}" alt="">
                    <div>Posts: <u>{{post.user.numPosts}}</u></div>
                    <div>Points: <u>{{post.user.points}}</u></div>
                </div>
                <div class="content">
                    {{post.content|safe}}
                    <br>
                    <div class="comment">
                        <button onclick="showComment()">Comenta</button>
                    </div>
                </div>
            </div>
        </div>
        <!--comment area-->

        <div class="comment-area hide" id="comment-area">
            <textarea name="comment" id=""placeholder="comenta aqui"></textarea>
            <input type="submit"name=""id=""value="submit">
        </div>

        <!--comment sectionnn / seccion de comentarios-->

        {% for comment in post.comments.all %}
         <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="#">{{comment.user.fullname|title}}</a></div>
                    <div>Role</div>
                    <img src="{{comment.user.profilePic.url}}" alt="">
                    <div>Posts: <u>{{comment.user.numPosts}}</u></div>
                    <div>Points: <u>{{comment.user.Points}}</u></div>
                </div>
                <div class="content">
                    {{comment.content}}
                    <br>
                    <div class="comment">
                        <button onclick="showReply()">Responder</button>
                    </div>
                </div>  
            </div>
        </div>
        <!--Respuesta /  reply area-->

        <div class="comment-area hide" id="reply-area">
            <textarea name="reply" id=""placeholder="responder aqui"></textarea>
            <input type="submit" value="submit">
        </div>


        <!--seccion de respuesta-->
        
        {% for reply in comment.replies.all%}
        <div class="comments-container" style="width: 95%; margin-left:5%;">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="#">{{reply.user.fullname|title}}</a></div>
                    <div>Role</div>
                    <img src="{{reply.user.profilePic.url}}" alt="">
                    <div>Posts: <u>{{reply.user.numPosts}}</u></div>
                    <div>Points: <u>{{reply.user.Points}}</u></div>
                </div>
                <div class="content">
                    {{reply.content}}
                    <br>
                    <div class="comment">
                        <button onclick="showReply()">Responder</button>
                    </div>
                </div>  
            </div>
        </div>
        {% endfor %}
        {% endfor %}

    


    </div>




{% endblock content%}
