{% extends 'myForum/base.html' %}


{%block content%}
    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>General information</h1>
            </div>
            {% for forum in forums%}
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center ">
                    <i class="fa fa-book center"></i>
                </div>
                <div class="subforum-description subforum-column">
                    <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                    <p>descripcion: {{forum.description}}</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>{{forum.numPosts}} posts</span>
                </div>
                <div class="subforum-info subforum-column"> 
                    <b><a href="{{forum.lastPosts.get_url}}">Last post</a></b> by <a href="">{{forum.lastPosts.user.fullname|title}}</a>
                    <br>on <small>{{forum.lastPosts.post.date|date}}</small>             
                </div>
            </div>
              {%endfor %}
        </div>     
    </div>

    <!--forum info-->
    <div class="forum-info">
        <div class="chart">
            My forum - stats &nbsp;<i class="fa fa-bar-chart"></i>
        </div>
        <div>
            <span><u>5,639</u> Posts in <u>1,210</u> Topics by <u>45,213</u> Users</span><br>
            <span>Latest Post: <b><a href="#"> Random Post</a></b> on 10 Dec 2023 by <a href="#">RandomUser</a></span><br>
        </div>
    </div>
{%endblock content%}